{% extends 'base.html' %} {% block content %}

<div class="row ps-5">
  <div class="col-5">
    {% if form.errors %} 
      {% for field in form %} 
        {% for error in field.errors%}
          <p class="text-danger">{{field.label}}: {{error}}</p>
        {% endfor %} 
      {% endfor%} 
    {% endif %}

    {% for error in form.non_field_errors %}
      <p class="text-danger">{{error}}</p>
    {% endfor %}

    <form method="post" enctype="multipart/form-data">
      {% csrf_token %} {% for field in form.visible_fields %}
      <div class="mb-3">
        <label for="{{field.id_for_label}}" class="form-label"
          >{{field.label}}</label
        >
        {{field}}
      </div>
      {% endfor %}
      <button type="submit" class="btn btn-primary">Subir</button>
    </form>
  </div>
  <div class="col-7 p-3 row align-items-start">
    {% for img in imagenes %}
    <div class="card m-2 col-4">
      <img src="{{img.imagen.url}}" class="card-img-top" />
      <div class="card-body">
       <div class="d-flex">
        <h5 class="card-title">{{img.nombre|title}}</h5>
        <form action="" method="post">
          {% csrf_token %}
          <input type="hidden" name="action" value="delete{{img.id}}">
          <button type="submit" class="ms-2 btn btn-danger" >Eliminar</button>
        </form>
        </div>
      </div>
    </div>
    {% empty %}
    <h2 class="fs-1">Sin Imagenes</h2>
    {% endfor %}
  </div>
</div>
{% endblock content %}
